html {
    --color-blue: #2563eb;
    --color-white: #fff;
    --color-gray: rgb(226, 232, 240);
    background-color: var(--color-gray);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
}